/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .full-page-container{
        width: 100%;
    }
    img{
       width:100% ; 
    }
    .container{
        max-width: 1100px;
        margin: auto;
    }
    .small-container{
        max-width: 850px;
        margin: auto;
    }
    .my-row{
        display: flex;
        flex-wrap: wrap;
    }
    .column-1-2{
        width: 50%;
    }
    .my-button{
        padding: 10px 15px;
        border: none;
    }
    .blue-button{
        background-color: rgb(0, 97, 255);
        color: rgb(234, 233, 233);
    }
    .column-30pc{
        width: 35%;
    }
     .column-70pc{
        width: 65%;
    }
    .light-blue-bg{
        background-color: rgb(180, 208, 231);
    }

/* <!-- HEADER and nav menù  -->
*/  
    header{
        position: sticky;
        top: 0;
    }
    header .my-row .column-1-2{
        padding: 20px 1%;
    }
    header .my-row img{
        width: 18%;
    }
    header .full-page-container .my-row div:last-child{
        text-align: right;
    }
    header .full-page-container .my-row div:first-child *{
        margin-inline-end: 30px;
        margin-bottom: -5px;
    }
    header .full-page-container .my-row div:last-child *{
        margin-inline-start: 30px;
    }
    header .full-page-container .my-row a{
        color: black;
        text-decoration: none;
    }
    header .full-page-container .my-row a:hover{
        text-decoration: underline;
    }


/* MAIN  
*/
    /* <!-- SECTION 1 - H1 section --> */
        main section:first-of-type .container{
            position: relative;
            top: 70px;
        }
        main section:first-of-type .container h1{
            font-size: 75px;
            font-weight: 900;
            margin-bottom: 55px ;
        }
        main section:first-of-type .container .column-30pc div{
            margin-bottom: 30px;
        }
        main section:first-of-type .container .column-30pc button{
            margin-bottom: 30px;
        }
        main section:first-of-type .container .column-30pc div:last-of-type{
            margin-bottom: 80px;
        }
        main section:first-of-type .container .column-30pc i{
            font-size: 3.3em;
            margin-bottom: 20px;
        }
        
        main section:first-of-type .container .column-70pc img{
            position: relative;
            right: 30px;
            width: 118%;
        }

/* FOOTER  
*/



/* DEBUG  
*/

    .debug header .my-row .column-1-2{
        background-color: aliceblue;
        border: 1px dashed black;
        min-height: 20px;
    }
    /* .debug main section .container{
        background-color: rgb(64, 140, 207);
        border: 1px dashed black;
        min-height: 700px;
    } */
    /* .debug main .container .my-row .column-30pc{
        background-color: rgb(152, 154, 74);
        border: 1px dashed black;
        min-height: 700px;
    } */
    /* .debug main .container .my-row .column-70pc{
        background-color: rgb(176, 176, 38);
        border: 1px dashed black;
        min-height: 700px;
    } */