/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .full-page-container{
        width: 100%;
    }
    img{
       width:100% ; 
    }
    .container{
        max-width: 1200px;
        margin: auto;
    }
    .small-container{
        max-width: 900px;
        margin: auto;
    }
    .my-row{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    .column-1-2{
        width: 50%;
    }
    .column-1-3{
        width: calc(100% / 3);
    }
    .column-35pc{
        width: 35%;
    }
    .column-65pc{
        width: 65%;
    }
    .column-30pc{
        width: 30%;
    }
    .my-button{
        padding: 10px 15px;
        border: none;
        font-size: 14px;
    }
    .blue-button{
        background-color: rgb(0, 97, 255);
        color: rgb(234, 233, 233);
    }   
    .blue-button:hover{
        background-color: rgb(63, 136, 255);
    }
    .white-button{
        background-color: rgb(245, 245, 245);
        color: black;
    }
    .light-blue-bg{
        background-color: rgb(180, 208, 231);
    }
    .box-header{
        text-align: center;
        line-height: 40px;
        border-bottom: 2px solid rgb(214, 214, 216);
    }
    .small-border{
        width: 25%;
        border-bottom:2px solid rgb(214, 214, 216); ;
    }
    .blue-check{
        color:rgb(0, 97, 255);
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }   
    .fa-ul {
        list-style-type: none;
        margin-left: var(--fa-li-margin,1.5em);
        padding-left: 0;
    }

/* <!-- HEADER and nav menù  -->
*/  
    header{
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header .my-row .column-1-2{
        padding: 20px 1%;
    }
    header .my-row img{
        width: 18%;
    }
    header .full-page-container .my-row div:last-child{
        text-align: right;
    }
    header .full-page-container .my-row div:first-child *{
        margin-inline-end: 30px;
    }
    header .full-page-container .my-row div:first-child > div{
        display: inline;
        vertical-align: middle;
    }
    header .full-page-container .my-row div:last-child *{
        margin-inline-start: 30px;
    }
    header .full-page-container .my-row a{
        color: black;
        text-decoration: none;
        vertical-align: middle;
    }
    header .full-page-container .my-row a:hover{
        text-decoration: underline;
    }


/* MAIN  
*/
    /* <!-- SECTION 1 - H1 section --> */
        main section:first-of-type .container{
            position: relative;
            top: 70px;
        }
        main section:first-of-type .container h1{
            font-size: 75px;
            font-weight: 900;
            margin-bottom: 55px ;
        }
        main section:first-of-type .container .column-35pc div{
            margin-bottom: 30px;
        }
        main section:first-of-type .container .column-35pc button{
            margin-bottom: 30px;
        }
        main section:first-of-type .container .column-35pc div:last-of-type{
            margin-bottom: 150px;
        }
        main section:first-of-type .container .column-35pc i{
            font-size: 3.3em;
            color: black;
        }
        
        main section:first-of-type .container .column-65pc img{
            position: relative;
            right: 30px;
            width: 118%;
        }

    /* <!-- SECTION  2 - Subscription planes-->  
    */
        main section:nth-of-type(2) .small-container .my-row{
            justify-content: space-between;
            margin-bottom: 170px;
        }
        main section:nth-of-type(2) .small-container{
            margin-top: 140px;
        }
        main section:nth-of-type(2) .small-container > a > h2{
            font-size: 2.3em;
            margin-bottom: 50px;
        }

        /* SUBSCRIPTION PLANE BOX  
        */
            main section:nth-of-type(2) .small-container > span{
                display: inline-block;
                margin-bottom: 50px;
                margin-inline-end: 30px;
            }
            
            main section:nth-of-type(2) .small-container .my-row .column-30pc{
                border: 2px solid rgb(214, 214, 216);
            }
            main section:nth-of-type(2) .small-container .my-row .column-30pc .info-box{
                padding: 30px;
            }
            main section:nth-of-type(2) .small-container .my-row .column-30pc .info-box h2{
                margin-bottom: 30px;
            }
            main section:nth-of-type(2) .small-container .my-row .column-30pc .info-box .price{
                color: gray;
            }
            main section:nth-of-type(2) .small-container .my-row .column-30pc .info-box *{
                margin-bottom: 30px;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column{
                width: 100%;
                margin-top: 40px;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column .info-box *{
                margin-bottom: 0;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column .info-box > div:nth-child(2){
                margin-bottom: 50px;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column .info-box h2{
                margin-bottom: 12px;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column .info-box{
                position: relative;
            }
            main section:nth-of-type(2) .small-container .my-row .wide-column .info-box button{
                position: absolute;
                right: 3%;
                top: 16%;
            }




    
    /* <!-- SECTION  3 - "Trova un partner"-->  
    */
        main .section-3 .my-row{
            margin-bottom: 170px;
        }
        main .section-3 .column-65pc{
            padding-right: 6%;
        }
        main .section-3 .my-row .column-35pc > h2{
            margin: 50px 0 20px 0;
        }
        main .section-3 .my-row .column-35pc > div{
            margin-bottom: 20px;
        }
        main .section-3 .my-row .column-35pc > button{
            border: 1px solid black;
            background-color: white;
        }
        main .section-3 .my-row .column-35pc > button:hover{
            border: 1px solid black;
            background-color: rgb(237, 237, 237);
        }
    



    /* <!-- SECTION 4 - Dropbox business--> 
    */
        main .section-4 .small-container .my-row{
            justify-content: space-between;
        }
        main .section-4 .small-container .my-row .column-30pc > div{
            height: 50%;
        }
        main .section-4 .small-container .my-row .column-30pc{
            margin-bottom: 40px;
        }
        main .section-4 .small-container .my-row .wide-column{
            width: 65%;
            margin-top: 120px ;
        }
        main .section-4 .small-container .my-row{
            margin-bottom: 120px ;
        }
        main .section-4 .small-container > h2{
            font-size: 2.3em;
            margin-bottom: 50px;
        }
        main .section-4 .small-container .my-row .column-30pc div:last-child{
            text-align: center;
        }
        main .section-4 .small-container .my-row .column-30pc div > h2{
            font-size: 1.3em;
            margin-bottom: 10px;
        }
        main .section-4 .small-container .my-row .wide-column div h2{
            font-size: 2.3em;
            margin-bottom: 50px;
        }



    /* <!-- SECTION 5 - "designit" section --> 
    */
        main .section-5 .my-row .column-1-3{
            height: calc(100vw / 3);
        }
        main .section-5 .my-row .column-1-2{
            width: 50%;
            height: calc((100vw / 3) / 2);
            position: relative;
        }
        main .section-5 .my-row .column-1-2 img{
            width: 50%;
            filter:invert(100%);
        }   
        main .section-5 .my-row .left .my-row > div:first-child{
            background-color: #a2d39b;
        }
        main .section-5 .my-row .left .my-row > div:nth-child(2){
            background-color: rgb(97, 8, 43);
        }
        main .section-5 .my-row .left .my-row > div:nth-child(3){
            background-color: rgb(0, 147, 206);
        }
        main .section-5 .my-row .left .my-row > div:last-child{
            background-color: rgb(255, 28, 28);
        }
        main .section-5 .my-row .text-column > div{
            padding: 9%;
        }
        main .section-5 .my-row .text-column{
            background-color: rgb(245, 245, 245);
        }
        main .section-5 .my-row .text-column div > img{
            width: 50%;
            margin-bottom: 30px;
        }
        main .section-5 .my-row .text-column div > hr{
            width: 20%;
            margin-bottom: 30px;
            border: 1px solid lightgray;
        }
        main .section-5 .my-row .text-column div > div:nth-child(3){
            margin-bottom: 30px;
        }

        main .section-5 .my-row .right .my-row > div:first-child{
            background-color: rgb(213, 0, 31);
        }
        main .section-5 .my-row .right .my-row > div:nth-child(2){
            background-color: rgb(180, 208, 231);
        }
        main .section-5 .my-row .right .my-row > div:nth-child(3){
            background-color: #0d2481;
        }
        main .section-5 .my-row .right .my-row > div:last-child{
            background-color: rgb(255, 216, 48);
        }




    /* <!-- SECTION 6 - Dropbox Business free try --> 
    */
        main .section-6{
            background-color: rgb(180, 208, 231);
        }
        main .section-6 .my-row{
            justify-content: space-between;
            padding: 100px 0;
            margin-bottom: 140px;
        }
        main .section-6 .small-container .my-row div > h2{
            font-size: 2.3em;
            color: rgb(94, 1, 40);
        }
        main .section-6 .small-container .my-row .column-35pc{
            text-align: right;
        }
        main .section-6 .small-container .my-row > .column-35pc{
            text-align: right;
        }
        main .section-6 .small-container .my-row .column-35pc > button{
            padding: 10px 40px;
            margin-top: 12px;
        }
        main .section-6 .small-container .my-row .column-35pc > button:hover{
            background-color: rgb(226, 226, 226);
        }


    /* <!-- SECTION 7 - faq --> 
    */
        main .section-7 .my-row{
            width: 100%;
            line-height: 100px;
            margin-bottom: 140px;
        }
        main .section-7 .my-row ul{
            width: 100%;
            list-style: none;
        }
        main .section-7 div .my-row ul > .flex-container{
            justify-content: space-between;
        }
        main .section-7 div > h2{
            margin-bottom: 60px;
            font-size: 2.3em;
        }
        main .section-7 .small-container .my-row .flex-container{
            font-weight: bold;
        }
        main .section-7 .small-container .my-row .flex-container i{
            padding: 10px;
            margin-right: 40px;
        }
        main .section-7 .small-container .my-row .flex-container i:hover{
            background-color: lightgray;
        }
        main .section-7 .small-container .my-row hr{
            border: 1px solid lightgray;
        }
        




/* FOOTER  
*/

    /* <!-- footer - SECTION 1 - bottom nav menù--> 
    */
        footer{
            background-color: black;
            color: white;
        }
        footer .section-1{
            padding: 80px 0 110px 0;
        }
        footer .section-1 .my-row .column-1-5{
            width: calc(100% / 5);
        }
        footer .section-1 .my-row .column-1-5 h2{
            margin-bottom: 25px;
        }
        footer .section-1 .my-row ul li{
            line-height: 40px;
            list-style: none;
            text-decoration: none;
        }
        footer .section-1 .my-row ul li a{
            text-decoration: none;
            color: white;
        }
        footer .section-1 .my-row ul li a:hover{
            text-decoration: underline;
        }




    /* <!-- footer - SECTION 2 - language --> 
    */
        footer .section-2 .container hr{
            color: white;
            width: 10%;
        }
        footer .section-2 .container > div{
            padding: 40px 0;
        }
        footer .section-2 .container > div{
            padding: 40px 0;
        }
        footer .section-2 .container > div .lang{
            padding: 0 10px;
        }


/* DEBUG  
*/

    
    /* .debug main section .container{
        background-color: rgb(64, 140, 207);
        border: 1px dashed black;
        min-height: 700px;
    } */
    /* .debug main .container .my-row .column-30pc{
        background-color: rgb(152, 154, 74);
        border: 1px dashed black;
        min-height: 700px;
    } */
    /* .debug main .container .my-row .column-70pc{
        background-color: rgb(176, 176, 38);
        border: 1px dashed black;
        min-height: 700px;
    } */
    /* .debug main .small-container{
        background-color: aliceblue;
        border: 1px dashed black;
        min-height: 50px;
    } */
    /* .debug .column-30pc{
        background-color: rgb(75, 218, 91);
        border: 1px dashed black;
        min-height: 200px;
    } */
    /* .debug .sub-plane-header{
        background-color: aqua;
    } */
    /* .debug .section-3 .column-35pc{
        background-color: aquamarine;
        min-height: 300px;
    } */
    /* .debug .section-3 .column-65pc{
        background-color: rgb(107, 80, 133);
        min-height: 300px;
    } */
    /* .debug .section-4 .column-30pc{
        background-color: rgb(104, 116, 100);
        min-height: 400px;
        border: 2px dashed black;
    } */
    /* .debug main .section-4 .my-row .column-30pc > div{
        background-color: beige;
        border: 2px dashed black;
    } */
    /* .debug main .section-4 .my-row .wide-column > div{
        background-color: beige;
        border: 2px dashed black;
        min-height: 200px;
    } */
    /* .debug main .section-5 .full-page-container{
        background-color: burlywood;
        min-height: 400px;
    } */
    /* .debug main .section-5 .column-1-3{
        background-color: cadetblue;
        border: 2px dashed black;
    } */
    /* .debug main .section-5 .column-1-2{
        background-color: chartreuse;
        border: 2px dashed black;
    } */
    /* .debug main .section-6 .my-row{
        min-height: 100px;
    } */
    /* .debug main .section-7 .small-container{
        min-height: 100px;
        background-color: pink;
    } */
    /* .debug main .section-7 .my-row li{
        background-color: beige;
        border: 2px dashed black;
    } */
    /* .debug footer .section-1 .my-row .column-1-5{
        min-height: 240px;
        border: 2px dashed white;
        background-color: black;
    } */